header{
    font-family: "Roboto";
    background-color: #F2F2F2;
}
body{
    font-family: "Roboto";
    color:black;
}
button{
    background-color: #20a8b4;
    color:white;
    padding: 12px;
    border-radius: 10px;
    width: 100%;
}
button:hover{
    background-color: #ff5c0f;
}
a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
a:hover{
    color: #ff5c0f;
}
h1{
    font-weight: 900;
    color: #20a8b4;
}
ul{
    list-style-type: none;
}
.code{
    color: #ff5c0f;
}
.image{
    display: none;
}
.header-height{
    height: 35vh;
}
.flex-container-header{
    display: flex;
    flex-flow: column;
}
.child-element-header{
    display: flex;
    padding-left: 10px;
    column-gap: 5px;
    margin-bottom: 15px;
}
.navigation{
    display: flex;
    flex-flow: column;
    padding-left: 10px;
    row-gap: 10px;
}
.main-height{
    height: 65vh;
}
h2{
    font-weight: bolder;
    margin-block-end: 0px;
}
.flex-container-main{
    height:100%;
    display: flex;
    flex-flow: column;
    padding-left: 10px;
    justify-content: center;
}
@media screen and (min-width: 768px) {
    .image{
        display: inline-flex;
        align-self: flex-end;
    }
    button{
        width: auto;
    }
    .header-height{
        height: 10vh;
    }
    .main-height{
        height: 90vh;
    }
    .flex-container-header{
        display: flex;
        flex-flow: row;
    }
    .child-element-header{
        display: flex;
        margin-bottom: 16px;
        margin-top: 16px;
    }
    .navigation{
        display: flex;
        flex-flow: row;
        column-gap: 10px;
        padding-left: 270px;
        padding-right: 10px;
        align-items: center;
    }
}
